[submodule "plugins/claude-vision"]
	path = plugins/claude-vision
	url = https://github.com/ellyseum/claude-vision.git
[submodule "plugins/claude-vault"]
	path = plugins/claude-vault
	url = https://github.com/ellyseum/claude-vault.git
[submodule "plugins/claude-notifications"]
	path = plugins/claude-notifications
	url = https://github.com/ellyseum/claude-notifications.git
[submodule "plugins/claude-browser"]
	path = plugins/claude-browser
	url = https://github.com/ellyseum/claude-browser.git
[submodule "plugins/claude-discipline"]
	path = plugins/claude-discipline
	url = https://github.com/ellyseum/claude-discipline.git
[submodule "plugins/claude-continue"]
	path = plugins/claude-continue
	url = https://github.com/ellyseum/claude-continue.git
[submodule "plugins/claude-brain-surgery"]
	path = plugins/claude-brain-surgery
	url = https://github.com/ellyseum/claude-brain-surgery.git
[submodule "plugins/claude-claudorepo"]
	path = plugins/claude-claudorepo
	url = https://github.com/ellyseum/claude-claudorepo.git
